{% block title %} Login  {% endblock %}

{% block content %}

{% include 'components/_navbar.html' %}
{% include 'components/_alerts.html' %}

<h2>Sign In</h2>

<form method="POST" action="{{ url_for('users.log_in') }}">
    <div>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required placeholder="Enter your username">
    </div>

    <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required minlength="6" maxlength="50"
            placeholder="Enter your password">
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>

<div>
    <a href="{{ url_for('users.new_user') }}">New user?</a>
</div>

{% endblock %}