{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

<h2>Create New User</h2>

{% include 'components/_alerts.html' %}

<div>
    <form method="POST" action="{{ url_for('users.new_user') }}">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required placeholder="Enter your username">
        </div>
    
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required placeholder="Enter your email">
        </div>
    
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required minlength="6" maxlength="50"
                placeholder="Enter password">
        </div>
    
        <div>
            <label for="password_repeat">Repeat Password:</label><br>
            <input type="password" id="password_repeat" name="password_repeat" required placeholder="Repeat password">
        </div>
        <div>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div>
                <div>
                    <button type="submit">Create New User</button>
                </div>
    </form>
</div>
<div>
    <a href="{{ url_for('users.log_in') }}">Already have an account? Log in</a>
</div>


{% endblock %}