{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
{% include 'components/_navbar.html' %}
{% include 'components/_alerts.html' %}

<div>
    <div>
        <div>
            <div class="info-box">
                Welcome to the commune credit system! In this application you can cumulate scores for each individual in
                your commune.
            </div>
            <div>
                <h4>Commune Credit Scores Table</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Total Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                            <tr>
                                <td>{{ entry.username }}</td>
                                <td>{{ entry.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}