{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
{% include 'components/_alerts.html' %}

<h2>
    {% if mode == 'view' %}View Event
    {% else %}Create New Event
    {% endif %}
</h2>

<form method="POST" action="{% if mode == 'view' %}# {% else %}{{ url_for('events.new_event') }}{% endif %}">
    <div>
        <label for="applying_event_for">Applying Event For:</label><br>
        {% if mode == 'view' %}
        <input name="applying_event_for" value="{{ event_entry.applied_for_username }}" readonly>
        {% else %}
        <select id="applying_event_for" name="applying_event_for" required>
            {% for value, label in applying_event_choices %}
            <option value="{{ value }}" {% if event_entry and event_entry.applying_event_for==value %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>
        {% endif %}
    </div>

    <div>
        <label for="event">Event Title:</label><br>
        <input type="text" id="event" name="event" placeholder="Enter event title (max 40 characters)"
            maxlength="40"
            value="{{ event_entry.event if event_entry }}" {% if mode=='view' %}readonly{% else %}required{% endif %}>
    </div>

    <div>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" placeholder="Optional description (max 200 characters)" rows="4" cols="50" {% if
            mode=='view' %}readonly{% endif %} maxlength="200">{{ event_entry.description if event_entry }}</textarea>
    </div>

    <div>
        <label for="event_score">Event Score:</label><br>
        <input type="number" id="event_score" name="event_score" placeholder="Enter score (max 1000)"
            value="{{ event_entry.event_score if event_entry }}" {% if mode=='view' %}readonly{% else %}required{% endif %} max=1000>
    </div>

    <div>
        <label for="event_date">Event Date:</label><br>
        <input type="date" id="event_date" name="event_date" value="{{ event_entry.event_date if event_entry }}" {% if
            mode=='view' %}readonly{% else %}required{% endif %}>
    </div>

    {% if mode != 'view' %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <div>
        <button type="submit">Create Event</button>
    </div>
    {% endif %}
</form>

<div>
    <a href="{{ url_for('events.main') }}">Go back</a>
</div>

{% endblock %}