{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %} New Event {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h4 class="card-title mb-4 mt-1">Create a new Event</h4>
                {{ wtf.quick_form(form) }}
                <div>
                    <br />
                    <a href="{{ url_for('events.main') }}" class="text-info">Go back</a>
                </div>
            </div> <!-- card.// -->
        </div>
    </div>
</div>
{% endblock %}